body, .mdl-layout-title, .mdl-textfield__input, .mdl-button, .mdl-snackbar__text {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.urlText {
	width: 16em;
}

.mdl-textfield {
	padding: 0;
}

.mainTabBar {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.urlBar {
	position: absolute;
	left: 0;
	top: 8px;
}

.mainTab {
	height: calc(100% - 50px);
}

#broadcast-panel {
	height: 100%;
}

webview {
	height: 100%;
}

.readChat {
	width: 10em;
}

#chat-panel {
	height: 100%;
}

.chatLogs {
	height: calc(100% - 3em);
	overflow-y: scroll;
}

.postForm {
	height: 3em;
}

.postText {
	width: calc(100% - 8em);
}

.chatLog {
	border-bottom: solid #cccccc 0.1em;
}

.chatLog .timestamp {
	display: inline-block;
	vertical-align: top;
	word-break: break-all;
	width: 5.5em;
}

.chatLog .image {
	width: 1em;
	height: 1em;
	margin: 0 0.2em 0 0;
}

.chatLog .nickname {
	display: inline-block;
	vertical-align: top;
	word-break: break-all;
	width: 10em;
}

.chatLog .message {
	display: inline-block;
	vertical-align: top;
	word-break: break-all;
	width: calc(100% - 16.7em);
}

.chatLog .chatLogUrl {
	background-color: #b8d1ed;
	margin: 0 0.2em;
	border-radius: 0.2em;
	font-size: 90%;
	font-weight: bold;
	cursor: pointer;
}

#settings-panel {
	margin: 1em;
}
